/* .Navbar {
  display: flex;
  flex-direction: row;
  align-items: normal;
  
} */

#nav-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
}

#nav-dropdown div {
  display: flex;
  flex-direction: column;
}

/* .navdropdownitem {
  display: flex;
  flex-direction: column;
} */

.logoPrincipal img{
  width: 25%;
  display: flex;
}
.cartWidget img {
  width: 250%;
  background-color: chartreuse;
  border-radius: 15%;
  display: flex;
}

div {
  display: flex;
}

a {
  font-size: 3rem;
}
.navbartop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-color: antiquewhite;
  border-style: solid;
}